.products-section {
  padding: 40px 20px;
}

.section-title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin: 50px 0 20px;
}

.product-nav-menu {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 15px;
  margin-bottom: 40px;
}

.product-nav-menu span {
  cursor: pointer;
  color: #555;
}

.product-nav-menu span:hover {
  color: #000;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  justify-items: center;
}

.product-card {
  text-align: center;
}

.product-img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border: 1px solid #eee;
  border-radius: 6px;
}

.product-name {
  margin-top: 10px;
  font-size: 14px;
}

.all-products-btn {
  display: block;
  margin: 40px auto;
  padding: 12px 28px;
  font-size: 14px;
  border: 1px solid #333;
  background: white;
  cursor: pointer;
}

.all-products-btn:hover {
  background: #333;
  color: #ffff;
}


@media (max-width: 900px) {

  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 600px) {

  .products-grid {
    grid-template-columns: 1fr;
  }
  
}