.promo-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7f4ef;
  padding: 60px 50px;
  border-radius: 10px;
  margin: 60px 0;
}

.promo-text{
  max-width: 500px;
}

.promo-tag {
  font-size: 14px;
  color: #c3952f;
  font-weight: bold;
}

.promo-title {
  font-size: 32px;
  margin: 15px 0;
}

.promo-desc {
  color: #777;
}

.promo-btn {
  margin-top: 20px;
  padding: 12px 24px;
  background: #f4c046;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.promo-img {
  width: 420px;
  border-radius: 8px;
  object-fit: cover;
}


@media (max-width: 900px) {
  
  .promo-section {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .promo-img {
    width: 90%;
  }
  
}

